.blogs
    margin-top: 150px
    margin-bottom: 150px
    &__cards
        display: flex
        flex-flow: row wrap
    &__card
        padding-bottom: 119px
        // &:hover
           
        &:first-child
            margin-right: 111px
        &:last-child
            margin-left: 111px
        &:nth-child(3), &:nth-child(4)
            padding-bottom: 0
            
    &__photo
        border-radius: 20px
        position: relative