.blogs
    margin-top: 174px
    margin-bottom: 174px
    &__cards
        display: flex
        flex-flow: row wrap
    &__card
        padding-bottom: 119px
        // &:hover
           
        &:first-child
            margin-right: 111px
        &:last-child
            margin-left: 111px
    &__photo
        border-radius: 20px
        position: relative